body {
  background: #2d343d;
}
.select{
  width: 300px;
  height: 50px;
  padding-left:10px;
  font-size: 15px;
  margin-bottom: 25px;
}

.login {
  margin: 20px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
}
.titulo-encabezado h1 {
    color:#fff;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0,0,0,2);
    line-height: 1.3;
}
h1.login-title {
    color: #fff;
  text-align: center;
  background: #009999;
    /*color: #ADADAD;
     background: #f7f7f7;
      text-align:center;*/
  margin: -28px -25px 25px;
  padding: 5px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  
 
 
 
}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}


#menu{
     padding: 0;
     margin:  15px auto;
     width: 350px;
     
}
#menu li{
    display: inline;
   
 }

#menu li a {
 font-family: Arial;
 font-size: 20px;
 text-decoration: none;
 padding: 10px;
 color: #fff;
 text-align: center;
  background: #009999;
 }